.stapp-heading-text {
	font-family: 'Noto Sans', 'Roboto', sans-serif !important
}

.stapp-body-text {
	font-family: 'Roboto', sans-serif !important;
}

/* Set the max-width to the current screen size */
.content-container {
  @apply sm:max-w-screen-sm md:max-w-screen-md lg:max-w-screen-lg xl:max-w-screen-xl 2xl:max-w-screen-2xl;
  @apply mx-auto;
  padding-left: env(safe-area-inset-left);
  padding-right: env(safe-area-inset-right);
}
