/* ------------------------
    Social Area 
----------------------------*/


.social-share {
    &.padding-10{
        a{
            &:first-child{
                padding-left: 0;
            }
            &:last-child{
                padding-right: 0;
            }
            // Rseponsive
            @media #{$lg-layout}{
                padding: 5px 7px;
            }
        }
    }
    a {
        display: inline-block;
        -webkit-transition: all .3s cubic-bezier(.645, .045, .355, 1);
        transition: all .3s cubic-bezier(.645, .045, .355, 1);
        color: $heading-color;
        padding: 5px 0px 5px 26px;
        font-size: 20px;

        @media #{$lg-layout} {
            padding: 5px 0px 5px 10px;
        }

        @media #{$md-layout} {
            padding: 5px 9px 5px 0px;
        }

        @media #{$sm-layout} {
            padding: 5px 9px 5px 0px;
        }

        @media #{$laptop-device} {
            padding: 5px 0px 5px 8px;
        }

        &:hover {
            color: $theme-color;

        }
    }

    &.social--transparent {
        background: transparent;
    }

    &.body-color {
        a {
            color: #999;

            &:hover {
                color: $heading-color;
            }
        }
    }

    &.text-white {
        a {
            color: #ffffff;

            &:hover {
                opacity: 0.8;
            }
        }
    }

}

a {
    -webkit-transition: all .3s cubic-bezier(.645, .045, .355, 1);
    transition: all .3s cubic-bezier(.645, .045, .355, 1);
    color: #fff;

    &[class*=hint--] {
        position: relative;
    }
}